<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hi there! There are {{ maxClients }} clients</h1>
    <h2>Some pages:</h2>
    <a href="client">
        <button>View how many clients there are</button>
    </a>
    <a href="debug">
        <button>View debug page</button>
    </a>
    <a href="get_camera_frame?id=EnterId">
        <button>Get only client camera (you need to enter client id in url)</button>
    </a>
    <a href="get_screen_frame?id=EnterId">
        <button>Get only client screen (you need to enter client id in url)</button>
    </a>
    <h2>Clients:</h2>

    {% for key in client %}
        <a href="client/{{ key }}">
            <button>Client {{ key }}</button>
        </a>
    {% endfor %}




</body>
</html>