<!DOCTYPE html>
<html>
<head>
    <title>Video Feed</title>
</head>
<body>
    <img id="camera-feed" src="/get_camera_frame" alt="Video Feed">

    <!-- Поле ввода для скорости обновления -->
    <label for="update-interval">Скорость обновления (в миллисекундах):</label>
    <input type="number" id="update-interval" value="1000">

    <br>
    <br>

    <img id="screen-feed" src="/get_screen_frame" alt="screen Feed">

    <!-- Поле ввода для скорости обновления -->
    <label for="screen-update-interval">Скорость обновления (в миллисекундах):</label>
    <input type="number" id="screen-update-interval" value="1000">


    <script>
        // Функция для автоматического обновления изображения
        function autoRefresh() {
            const img = document.getElementById('camera-feed');
            const intervalInput = document.getElementById('update-interval');

            const updateInterval = parseInt(intervalInput.value);
            img.src = "/get_camera_frame?" + new Date().getTime();

            setTimeout(autoRefresh, updateInterval);
        }
        autoRefresh();

        function screenAutoRefresh() {
            const screenimg = document.getElementById('screen-feed');
            const screenintervalInput = document.getElementById('screen-update-interval');
            const screenupdateInterval = parseInt(screenintervalInput.value); // Получаем значение интервала из поля ввода
            screenimg.src = "/get_screen_frame?" + new Date().getTime(); // Добавляем случайный параметр, чтобы обновить кэш

            setTimeout(screenAutoRefresh, screenupdateInterval); // Обновляем изображение с учетом введенного интервала
        }
        screenAutoRefresh();

    </script>
</body>
</html>